@font-face {
  font-family: 'Norse Bold';
  src: url('/Norse-Bold.otf') format('opentype');
}




.container {
    display: flex;
    align-items: center;
  }
  
  img {
    float: left;
    max-height: 500px;
  }
  
  .content {
    margin-left: auto;
  }
  




input {
    border: 2px solid #E5E7EB;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: green;
  }
  
button{

    background-color: #596D48;

    color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border-radius: 20px;
 
}  






  .container {
    padding: 16px;
  }

  input[type=text], input[type=password], input[type=tel], input[type=email] {
    width: 700px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
   
    background:#FFFFFF;
    border-color: #E5E7EB;
  }



  input[type=text]:focus,
  input[type=password]:focus,
  input[type=tel]:focus,
  input[type=email]:focus {
      background-color: #e6e6ff;
      border: 1px solid #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
  }


  input[type=password].error {
    background-color: #ffcccc;
    border: 1px solid #ff0000;
}


h1 {
  font-weight: bold;
  font-family: 'Norse Bold', Arial, sans-serif;
}

